form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}
form #title {
  align-self: flex-start;
}
form input {
  padding: 10px;
}
form button {
  width: 50%;
  padding: 8px;
}
form .form__group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: inherit;
}
form .form__group button {
  width: 100%;
}