.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.home__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 250px;
  width: min(max-content, 100%);

  button {
    width: 50%;
    padding: 8px;
  }

  .home__group {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    width: inherit;
  }
}
